name: "Textile Bucket - Build & Test"
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  jest:
    name: jest
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'skip-ci')"
    services:
      textile:
        image: textile/textile:latest
        env:
          HUB_ADDR_API: /ip4/0.0.0.0/tcp/3006
          HUB_ADDR_API_PROXY: /ip4/0.0.0.0/tcp/3007
          HUB_ADDR_THREADS_HOST: /ip4/0.0.0.0/tcp/4006
          HUB_ADDR_GATEWAY_HOST: /ip4/0.0.0.0/tcp/8006
          HUB_ADDR_MONGO_URI: mongodb://mongo:27017
          HUB_ADDR_IPFS_API: /dns4/ipfs/tcp/5001
          HUB_EMAIL_SESSION_SECRET: hubsession
          HUB_LOG_DEBUG: true
        ports:
          - "127.0.0.1:3006:3006"
          - "3007:3007"
          - "4006:4006"
          - "127.0.0.1:8006:8006"
      mongo:
        image: mongo:latest
        ports:
          - "127.0.0.1:27017:27017"
      ipfs:
        image: ipfs/go-ipfs:v0.5.1
        ports:
          - "4001:4001"
          - "127.0.0.1:5001:5001"
          - "8080:8080"
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup
      uses: actions/setup-node@v1
      with:
        node-version: 12

    - name: Install
      run: npm install

    - name: Run tests
      run: |
        npm run all
  test: # make sure the action works on a clean machine without building
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v2
    - name: push # push to a known bucket
      id: bucket
      uses: ./
      with: 
        key: ${{ secrets.TEXTILE_ORG_ACCOUNT_KEY }}
        secret: ${{ secrets.TEXTILE_ORG_ACCOUNT_SECRET }}
        bucket: 'actions'
        thread: ${{ secrets.TEXTILE_ORG_BUCKET_THREAD }}
        path: 'website'
        pattern: '**/*'
    - run: echo "bucket - ${{ steps.bucket.outputs.key }}"
    - run: echo "ipfs - ${{ steps.bucket.outputs.ipfs }}"
    - run: echo "ipfs link - ${{ steps.bucket.outputs.ipfsUrl }}"
    - run: echo "ipns - ${{ steps.bucket.outputs.ipns }}"
    - run: echo "ipns link - ${{ steps.bucket.outputs.ipnsUrl }}"
    - run: echo "hub - ${{ steps.bucket.outputs.hub }}"
    - run: echo "www - ${{ steps.bucket.outputs.www }}"
    - name: push-new # push to a new bucket
      id: new
      uses: ./
      with: 
        key: ${{ secrets.ACCOUNT_KEY }}
        secret: ${{ secrets.ACCOUNT_SECRET }}
        bucket: 'newbucket'
        thread: 'bafky45bowefya4lprbkvzzvmmjmqr56hu6qn6wpolbjil7p25goycwy'
        path: 'website'
    - name: new bucket link
      run: echo "link ${{ steps.new.outputs.ipnsUrl }}"
    - name: remove # remove bucket
      id: remove
      uses: ./
      with: 
        key: ${{ secrets.ACCOUNT_KEY }}
        secret: ${{ secrets.ACCOUNT_SECRET }}
        bucket: 'newbucket'
        thread: 'bafky45bowefya4lprbkvzzvmmjmqr56hu6qn6wpolbjil7p25goycwy'
        remove: 'true'
    - name: success
      run: echo "bucket remove ${{ steps.remove.outputs.success }}"